<ion-view view-title="Hakkımızda" class="has-header">
  <ion-content class="has-image">
    <img class="feed-photo" src="../img/group-photo.jpg"></img>
    <div class="padding">
      <h4>Ekip</h4>
      <p>Birkan Nasuhoğlu <b>(Vokal,Gitar)</b></p>
      <p>Hazar Aşçı <b>(Bas Gitar, Geri Vokal)</b></p>
      <p>Turgay Gülaydın <b>(Davul)</b></p>
    </div>
    <div class="padding">
      <h4>Biyografi</h4>
      <p>2011 yılının bahar aylarında Birkan Nasuhoğlu, Hazar Aşçı ve Turgay Gülaydın tarafından kurulan YEDİNCİ EV, Alen Konakoğlu prodüktörlüğündeki ilk albümü Şimdi'yi 2013 Eylül ayında yayımladı. </p>
      <p>Grubun canlı kayıt tekniği kullanarak kaydettiği bu albümdeki tüm şarkıların söz ve müziği Birkan Nasuhoğlu düzenlemeleri ise YEDİNCİ EV tarafından yapıldı. Albümün ilk video klibi Alper Yılmaz yönetmenliğinde ''Eninde Sonunda'' şarkısına çekildi. </p>
      <p>Karnaval Radyo bünyesinde gerçekleştirilen B!P programındaki akustik performanslarıyla büyük beğeni toplayan grup konserlerine de hız kazandırdı. 2015 Ekim ayında Gerçek Yapım-Sony Music işbirliğiyle söz ve müziği Birkan Nasuhoğlu'na, düzenlemesi ise Yedinci Ev'e ait olan 'Kalbim Seni Arıyor' teklisini piyasaya sürdüler. </p>
      <p>Bu teklilerine Harun Roon Işık yönetmenliğinde bir de klip çeken Yedinci Ev konserlerine kaldığı yerden devam ediyor.</p>
    </div>
  </ion-content>
</ion-view>
