.bar.bar-header {
  background: rgba(255,255,255,.6) !important;
  border-bottom-width: 0 !important;
}

.bar.bar-header h1 {
  color: black !important;
}

.scroll-content {
  overflow: visible !important;
}

ion-content.has-header.has-image{
  top:0px !important;
}

.feed-photo {
  width: 100%;
}

.feed-list > .list {
  top: -5px;
}

.song-photo {
  width: 100%;
  height: 300px;
  background-image: url('../img/kalbim-seni-ariyor.jpg');
  background-position: center center;
  background-size: cover;
}
